:root {
  --color-main: #bc3435;
  --color-inverted: WHITE;
  --color-inverted-darker: #ccc;

  --color-error: RED;
}

/* overwrites, main page */
nav,
footer,
.page-footer {
  background-color: var(--color-main);
}
nav .img-logo {
  height: 80%;
  position: relative;
  top: 10%;
  margin-left: 10px;

  /* convert to white */
  filter: invert(1);
}
footer a {
  color: var(--color-inverted);
}
footer a:hover {
  color: var(--color-inverted-darker);
}
footer #version-info {
  position: absolute;
  bottom: 2px;
  right: 2px;

  font-size: xx-small;
}

body,
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/* helper classes */
.no-margin {
  margin: 0;
}
.relative {
  position: relative;
}
.valign-items > * {
  vertical-align: middle;
}
.text-large {
  font-size: 60px;
}

.zoom {
  display: inline-block;
  width: auto;
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(1.2);
}

/* actual page-specific stuff */
#home .logo {
  width: 20px;
}

#home #about-me-image {
  background-image: url("/assets/me.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  --about-me-image-size: 100px;

  border: solid thin WHITE;

  position: absolute;
  width: var(--about-me-image-size);
  height: var(--about-me-image-size);
  top: calc(var(--about-me-image-size) / -2);
  left: calc(50% - (var(--about-me-image-size) / 2));
  border-radius: 50%;

  transition: border-color 0.5s;

  z-index: 4;
}
#home #about-me-image:hover {
  border-color: var(--color-main);
}
#home #about-me-image::before {
  content: "";

  --about-me-image-border-size: 4px;

  border: solid thin WHITE;
  border-radius: 50%;
  position: absolute;

  height: calc(100% + (var(--about-me-image-border-size) * 2));
  width: calc(100% + (var(--about-me-image-border-size) * 2));

  left: calc(-1 * var(--about-me-image-border-size));
  top: calc(-1 * var(--about-me-image-border-size));
  z-index: -1;
}

#home .parallax-container.small {
  height: 300px;
}
#home .parallax-container.xsmall {
  height: 100px;
}

/* the reel/story/snippet page */
#reel {
  max-width: clamp(500px, 50%, 900px);

  margin-left: auto;
  margin-right: auto;
}
#reel .story {
  min-height: 100px;
  min-width: 400px;

  border-bottom: solid thin var(--color-main);
  margin-bottom: 10px;
}
#reel .story .story-img {
  max-height: 150px;
  overflow: hidden;
}
#reel .story .story-img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  width: 100%;
}
#reel .story .story-title {
  min-height: 1em;
}
#reel .story .story-title .title {
  margin: 0;

  font-size: xx-large;
  font-weight: bold;
}
#reel .story .story-content {
  min-height: 2em;
}

/* errors */
#page-404 {
  color: var(--color-error);
  margin: 20px;

  font-size: xx-large;
}

/* loading skelly */
.loading .loading-skeleton {
  border-radius: 10px;
  border-width: thick;
  border-style: solid;

  animation: loading-pulse-border-color 3s infinite;

  opacity: 0.7;
}
.loading .loading-skeleton > *:before {
  content: "";
  background-color: darkgrey;

  display: inline-block;
  opacity: 0.7;
  
  margin-left: 5%;
  width: 90%;
  height: 1em;
  border-radius: 10px;
}

@keyframes loading-pulse-border-color {
  0% {
    border-color: lightblue;
  }
  50% {
    border-color: lightcoral;
  }
  100% {
    border-color: lightblue;
  }
}
