:root {
  --color-main: #bc3435;
  --color-inverted: WHITE;
}

/* overwrites, main page */
nav,
footer,
.page-footer {
  background-color: var(--color-main);
}
footer a {
  color: var(--color-inverted);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/* helper classes */
.no-margin {
  margin: 0;
}
.valign-items > * {
  vertical-align: middle;
}
.text-large {
  font-size: 60px;
}

/* actual page-specific stuff */
.logo {
  width: 20px;
}

.parallax-container.small {
  height: 300px;
}
.parallax-container.xsmall {
  height: 100px;
}
