:root {
  --color-main: #bc3435;
  --color-inverted: WHITE;
  --color-inverted-darker: #ccc;

  --color-error: RED;
}

/* overwrites, main page */
nav,
footer,
.page-footer {
  background-color: var(--color-main);
}
nav .img-logo {
  height: 80%;
  position: relative;
  top: 10%;
  margin-left: 10px;

  /* convert to white */
  filter: invert(1);
}
footer a {
  color: var(--color-inverted);
}
footer a:hover {
  color: var(--color-inverted-darker);
}

body,
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/* helper classes */
.no-margin {
  margin: 0;
}
.valign-items > * {
  vertical-align: middle;
}
.text-large {
  font-size: 60px;
}

.zoom {
  display: inline-block;
  width: auto;
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(1.2);
}

/* actual page-specific stuff */
#home .logo {
  width: 20px;
}

#home .parallax-container.small {
  height: 300px;
}
#home .parallax-container.xsmall {
  height: 100px;
}

#page-404 {
  color: var(--color-error);
  margin: 20px;

  font-size: xx-large;
}